* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}

form {
  max-width: 600px;
  width: 100%;
      padding: 20px;

  margin: auto;
  border: 2px solid #19183b;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

.form-btn {
  margin: 10px;
  padding: 2px 8px;
  background-color: #fff;
  color: #19183b;
  border: 2px solid #19183b;
  border-radius: 4px;
}

input[type=text] {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

input[type=password] {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
